
*.dwlt
Library/CurrentLayout.dwlt
Library/assetDatabase3

Temp/UnityLockfile
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
